.header-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.name-font {
  font-family: 'Roboto Slab', serif;
}

.header-bg {
  background-color: #09db53;
}

.manager-bg {
  background-color: #d5d953;
}

.engineer-bg {
  background-color: #ebfb08;
}

.intern-bg {
  background-color: #00f3f3;
}

.body-bg {
  background-color: #f610df;
}